/*prevent problems with different browers*/
* {box-sizing: border-box;}


body {
    font-family: "Spectral", serif;
    margin: 0;
}

/* header stuff here */
header {
    background-color: #fffff0;
    padding: .5rem 10px;
    display: flex;
    align-items: flex-end;
}
header div {
    padding-left: 2vw;
}

header span {
    color: #073763;
    font-size: 1.6rem;
    font-weight: 700;
}


/* small screens */

@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
    }
    nav a {
        display: block;
        padding: .8rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: capitalize;
        text-align: center;
        border-bottom: solid 1px #aaa;
        color: #073763
    }
    nav .active a {
        background-color: #d3af37;
        background-image: linear-gradient(to bottom, #d3af37, #b2932e);
        color: #073763;
    }
    
} /*end of the media query*/



/* big screen*/
@media only screen and (min-width: 601px) {

    nav {
        background-color: #d3af37;
    }
    
    nav ul {
        margin: 0;
        padding: 0 10px;
        list-style-type: none;
        display: flex;
    }
    
    nav a {
        display: block;
        padding: .83rem 1rem;
        text-decoration: none;
        font-size: 1.1rem;
        color: #073763;
        font-weight: 700
    }
    
    nav li.active a {
        background-color: #073763;
        color: #ae964d;
    }
    
    nav li a:hover {
        color: white;
    }
    
   
} /*end of the media query*/









/* main stuff here */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #8b7f15;
}

main h2 {
    color: #073763;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #333
}


.fronthero {
    width: 100%;
    margin: 0;
}
.fronthero img {
    width: 100%;
    height: auto;

}




Main ol {
    padding: .5rem 30px;
    background-color: #efefef;
}

main dl dt {
    color: #8b7f15;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #073763;
    font-size: .9rem;
    margin-left: 20px;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    font-weight: 700;
    color: #8b7f15;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #d3af37;
    padding: .5rem;
    border: 1px solid #073763;
    width: 760px;
}

main a {
    color: #073763;
}

main a:hover {
    color: rgb(180, 4, 18);
}

figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
    
}

figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

div.clothes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.clothes figure {
    margin: .5rem 2% 0 0;
}

div.clothes figcaption {
    text-align: center;
    font-size: .8rem;
    color: #073763;
}

.myForm fieldset {
    border: 1px solid #073763;
    border-radius: 3px;
    margin-bottom: 1rem ;
   
 }
 .myForm legend {
    color: #073763;
    font-size: .8rem;
 }
 .myForm label {
    margin: .5rem;
 }
 
 
 .myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea, .myForm [type=email]  {
    display: block;
 }
 
 
 .myForm [type=text], .myForm [type=tel], .myForm select, .myForm textarea, .myForm [type=email]
 {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "Spectral", serif;
    font-weight: 200;
 }
 .myForm textarea{
    height: 6rem;
 }
 
 
 .myForm :required {
    background-color: rgba(156, 51, 53, 0.1);
 }

 .myForm [type=submit] {
    background-color: #073763;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
 }
 
 .clothes img {
    width: 98%;
    height: auto;
    
 }
 .clothes img:hover {
    box-shadow: 0px 0px 10px black;
 }

 table.our-activities {
    width: 100%;
    border-collapse: collapse ;
 }
 table.our-activities th {
    background-color:#073763;
    color: white;
    padding: .5rem 2vw;
    text-align: left;
 }
 table.our-activities td {
    color: #000000;
    padding:.4rem 2vw;
 }
 table.our-activities tr:nth-child(odd) {
    background-color: #f7f7f7;
 }
 table.our-activities tr:hover {
    background-color: rgba(221, 191, 21, 0.2);
 } 



















/* footer stuff here */
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: #333;
}

footer p {
    margin: 0;
    letter-spacing: 3px;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto
}